@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|PT+Sans:400,700|Roboto:400,700&display=swap&subset=latin-ext');

$text-font-family: 'Roboto', Georgia, serif;
$heading-font-family: 'PT Sans', Helvetica, sans-serif;
$code-font-family: 'Inconsolata', 'Source Code Pro', 'Lucida Console', monospace;