<section class="container centered">
  <div class="about">
    {{ with .Site.Params.author.avatarUrl }}
      <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
    {{ end }}
    <h1>{{ .Site.Params.author.name }}</h1>
    <h2>{{ .Site.Params.author.headline }}</h2>
    {{ with .Site.Params.social }}
    <ul>
      {{ range sort .}}
        <li>
          <a href="{{ .url }}" aria-label="{{ .name }}">
            {{ if .icon }}
              <i class="{{ .icon }}" aria-hidden="true"></i>
            {{ else }}
              {{ .name }}
            {{ end }}
          </a>
        </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
</section>
